<!DOCTYPE html>
<html>
<head>
	<title>teacher</title>
	<meta charset="uft-8">
	<link rel="stylesheet" type="text/css" href="/assets/teacher.scss">
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
	<script src="/assets/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
	<%= image_tag '/assets/塾講師.png'%>
	</div>
</div>
<div class="contents">
	<div id="headline"><h1>特徴</h1></div>
	<p>塾講師の仕事には、まず大きく分けて3つの指導タイプがあります。</p>          

	<div class="subhead"><h3>〜指導タイプその１ 集団指導〜</h3></div>
	
	<p>集団指導では、それぞれの学習塾で異なりますがだいたい<span>10名以上の生徒</span>を相手に指導をするタイプです。このタイプは、学校の先生の雰囲気をよりリアルに経験することができます。</br><br>また、この集団指導では、大人数の生徒を対象に授業をするためある程度の<span>プレゼンテーション技術</span>が必要となってきます。</br>なので、集団指導を取り入れている学習塾では<span>研修がとても充実</span>しています。</p>

	<div class="subhead"><h3>〜指導タイプその２　個別指導〜</h3></div>

	<p>今では、多くの学習塾が取り入れている個別指導タイプです。この個別指導では、<span>3名以下の生徒</span>を相手に指導をします。<br>このタイプでは、先ほどの集団指導に比べて個々の<span>生徒に距離がより近くなる</span>のでその生徒一人一人に対して細かい指導をすることができます。</br><br>また、個別指導を取り入れている学習塾は、服装が自由だったりすることもあるため<span>大学生に人気</span>なことが多いです。</p>

	<div class="subhead"><h3>〜指導タイプその３　グループ指導〜</h3></div>

	<p>このグループ指導は、生徒の人数が<span>集団指導よりも少ないが個別指導よりも多い</span>というのが大きな特徴です。授業の進め方は集団指導と同じように<span>講義形式</span>で進めていきます。かつ、個別指導のように<span>生徒一人一人に気を配りながら授業</span>を行います。</br><br>
	しかし、このグループ指導というタイプだけで運営している学習塾は多くありません。多くの場合は、集団指導または個別指導を任される中でこの授業だけグループ指導を任されるというように特定の授業だけ任される感じになることが多いです。</p>

<div id="headline"><h1>メリット</h1></div>
<p>塾講師のメリットには、以下のようなものが挙げられます。</p>
<div class="subhead"><h3>〜時給が高い〜</h3></div>
<p>塾講師の場合、<span>時給というよりも1コマあたり</span>で給与が計算されることが多いです。<br></br>
それこそ学習塾ごとに給与額は異なりますが、おおよそ集団指導塾では<span>時給換算で1500~2000円</span>、個別指導塾では<span>1200~1500円</span>がめやすになります。<br></br>ご察しの通り個別指導に比べてやはり集団指導の方が高めに設定されています。それでも、個別指導、集団指導ともに他のアルバイトに比べて<span>時給は高額</span>に設定されています。</p>

<div class="subhead"><h3>〜大学の授業後の空き時間でできる〜</h3></div>
<p>塾講師の仕事は、当然ですが生徒に対しての指導です。そして、その生徒はもちろん平日の昼は学校にいます。<br></br>
なので授業を行うのは<span>生徒の放課後に当たる</span>ため、アルバイトをしたい大学生も<span>自分の学校の授業が終わってから教えることが可能</span>です。<br>また、塾の授業が始まる時間はほとんどの学習塾が<span>夕方の時間帯</span>なのでアルバイトの<span>時間にあまり追われる恐れがない</span>のも大きな特徴になります。</p>

<div id="headline"><h1>応募する前に気をつけたいこと</h1></div>

<div class="subhead"><h3>〜ある程度の学力が必要〜</h3></div>
<p>人に物を教える仕事なのでどうしても<span>基礎的な学力は必要</span>になってきます。<br></br>
そのため、学習塾の面接に行った際は、面接に加えて<span>簡単な学力テスト</span>を行うところが多いです。<br>
テストといっても中学の入試問題などが主な出題です。(あまりに変な回答をしなければ特に問題はありません。)</p>

<div class="subhead"><h3>〜決して稼ぎやすい仕事ではない〜</h3></div>
<p>塾講師のアルバイトでは、<span>講師と生徒がいてはじめて成り立つ仕事</span>です。<br></br>
そのため、塾全体で講師の人数が多かったり、生徒の人数が少なかったりすると、どれだけ自分がシフトを入れようとしても入れられないケースが出てきてしまう可能性もあります。<br>また、<span>夏期講習や冬期講習など短期集中の期間に多く入れる人は、とても重宝される</span>傾向があります。</p>

<div class="subhead"><h3>バイト？インターン？</h3></div>
<p>この塾講師の仕事自体を経験するには、アルバイトが一番です。インターンもあるにはあるのですが1dayのインターンが多く、研修のようなものがほとんどです。</p>
</div>

<div class="sidebar">
		<ul class="sidebar1">
		    <li><%= link_to "トップページ", root_path, class: "btn top-btn" %></li>
			<li><%= link_to "IT&プログラマー", programmer_path, class: "btn top-btn" %></li>
            <li><%= link_to "人材コンサル", consulting_path, class: "btn top-btn" %></li>
            <li><%= link_to "塾講師", teacher_path, class: "btn top-btn" %></li>
            <li><%= link_to "経営コンサル", management_path, class: "btn top-btn" %></li>
            <li><%= link_to "カフェ&レストラン", cafe_path, class: "btn top-btn" %></li>
		</ul>
		<div class="sidebar2">
		<p>
			<%= link_to "サイト概要", root_path, class: "btn top-btn" %>
		</p>
		<div class="arrows2">
<%= image_tag '/assets/矢印２.png',:size => '50x50' %>
</div>
<p>
		<%= link_to "職種一覧", job_path, class: "btn top-btn" %>
	</p>
	<div class="arrows2">
<%= image_tag '/assets/矢印２.png',:size => '50x50' %>
</div>

<p>
		<%= link_to "バイト&インターン", job_path, class: "btn top-btn" %>
	</p>
	<div class="arrows2">
<%= image_tag '/assets/矢印２.png',:size => '50x50' %>
</div>

<p>
		<%= link_to "体験談&レビュー", notes_path, class: "btn top-btn" %>
	</p>
</div>
</div>

<div class="arrows">
<%= image_tag '/assets/矢印２.png',:size => '100x100' %>
</div>

<div class="footer">
	<%= link_to "バイト&インターン", job_path, class: "side-btn" %>
</div>
<script src="/assets/bootstrap.min.js"></script>
</div>
</body>
</html>